@model ContactInfo

<h2>Contact Details</h2>

<p><b>Name:</b> @Model.FirstName @Model.LastName</p>
<p><b>Email:</b> @Model.EmailId</p>
<p><b>Mobile:</b> @Model.MobileNo</p>
<p><b>Designation:</b> @Model.Designation</p>
<p><b>Company:</b> @Model.Company?.CompanyName</p>
<p><b>Department:</b> @Model.Department?.DepartmentName</p>

<a href="/Contacts">Back</a>