@model IEnumerable<ContactInfo>

<h2>Contacts</h2>

<a href="/Contacts/Add">Add New Contact</a>

<table border="1" style="width:100%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Company</th>
        <th>Department</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName @item.LastName</td>
            <td>@item.EmailId</td>
            <td>@item.MobileNo</td>
            <td>@item.Company?.CompanyName</td>
            <td>@item.Department?.DepartmentName</td>
            <td>
                <a href="/Contacts/Details/@item.ContactId">Details</a> |
                <a href="/Contacts/Edit/@item.ContactId">Edit</a> |
                <a href="/Contacts/Delete/@item.ContactId">Delete</a>
            </td>
        </tr>
    }
</table>
