@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<WebApplication3.Models.Contact>

<h2>Contact Lis</h2>

<a asp-action="AddContact">Add New Contact</a>

<form asp-action="GetContactById" method="get">
    Enter Contact ID:
    <input type="number" name="id" />
    <button type="submit">Search</button>
</form>

<table border="1" cellpadding="10" cellspacing="0" class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Company</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Designation</th>
    </tr>

    @foreach (var c in Model)
    {
        <tr>
            <td>@c.ContactId</td>
            <td>@c.FirstName @c.LastName</td>
            <td>@c.CompanyName</td>
            <td>@c.EmailId</td>
            <td>@c.MobileNo</td>
            <td>@c.Designation</td>
        </tr>
    }
</table>