@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using WebApplication3.Models
@model List<Product>

<h1 class="display-5">Product List</h1>

<a asp-action="Create">Add New Product</a>

<table border="1" cellpadding="10" cellspacing="0" class="table">
    <tr>
        <th>ProductId</th>
        <th>ProductName</th>
        <th>Price</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Category</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
    }
</table>